@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/grid/columns.sass';
@import 'bulma/sass/elements/content.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/image.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/helpers/color.sass';
@import 'bulma/sass/helpers/spacing.sass';

body {
  @extend .is-dark-blue;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: #ffffff;
}

body.appear {
  opacity: 1;
}

.is-light-blue {
  background-color: #202131;
}

.is-dark-blue {
  background-color: #12122a;
}

.is-highlight {
  background-color: #f4b942;
}
