:root {
  --color-red: #f00500;
  --color-orange: #f06500;
  --color-pink: #0000ff;
}

body {
  margin: 0;
  padding: 0;
  display: none;
  font-family: 'Roboto', sans-serif;
}

body.appear {
  display: block;
}

p {
  color: var(--color-pink);
}

.section-wrapper {
  p {
    color: var(--color-red);
  }
}
