@font-face {
  font-family: 'Roboto';
  src: url('/app/assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/app/assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('/app/assets/fonts/Roboto-Black.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/app/assets/fonts/JosefinSans-Regular.woff') format('woff');
  font-weight: 400;
}

:root {
  /* THEME */
  --theme-color: #f4b942;
  --background-color: #f1f1f1;
  --header-background-color: #000000;
  --footer-background-color: #000000;
  --line-color: #cccccc;
  --separator-color: #ffff30;
  --footer-separator-color: #333333;

  /* TEXT */
  --font-family: 'Roboto', sans-serif;
  --font-color: #333333;
  --secondary-font-family: 'Josefin Sans', sans-serif;
  --secondary-font-color: #202131;
  --header-text-color: #ffffff;
  --footer-text-color: #ffffff;
  --text-highlight-color: #f4b942;
  --text-input-background-color: #000000;

  /* HERO */
  --hero-text-color: #000000;

  /* CARDS */
  --blog-image-matte-background-color: #dddddd;
  --card-1-background-color: #a3a3a5;
  --card-1-text-color: #ffffff;
  --card-2-background-color: #f4b942;
  --card-2-text-color: #202131;
  --4-card-background-color: #000000;
  --4-card-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* THEME */
    --theme-color: #f4b942;
    --background-color: #12122a;
    --header-background-color: #12122a;
    --footer-background-color: #202131;
    --line-color: #303144;
    --separator-color: #303144;
    --footer-separator-color: #333333;

    /* TEXT */
    --font-family: 'Roboto', sans-serif;
    --font-color: #ffffff;
    --secondary-font-family: 'Josefin Sans', sans-serif;
    --secondary-font-color: #202131;
    --header-text-color: #ffffff;
    --footer-text-color: #ffffff;
    --text-highlight-color: #f4b942;
    --text-input-background-color: #000000;

    /* HERO */
    --hero-text-color: #ffffff;

    /* CARDS */
    --blog-image-matte-background-color: #dbeafe;
    --card-1-background-color: #202131;
    --card-1-text-color: #ffffff;
    --card-2-background-color: #f4b942;
    --card-2-text-color: #202131;
    --4-card-background-color: #202131;
    --4-card-text-color: #ffffff;
  }
}
